// Mobile first
$mediaMobile: 400px;
$mediaTablet: 960px;
$mediaLaptop: 961px;

// Typography
$primary-font: 'Roboto', sans-serif;
$primary-color: #007FD8;

// Mixins
@mixin wrap () {
  max-width: 980px;
  margin: 0 auto;
}

@mixin center () {
  display: block;
  margin: 0 auto;
}

@mixin flex-center () {
  display: flex;
  align-items: center;
  justify-content: center;
}
