@import "@/assets/styles/variables";

.header {
  padding: 150px 0;
  @include wrap();
  .title {
    text-align: center;
    color: black;
  }
  .header__sup-title {
    padding-bottom: 30px;
    font-size: 3.2rem !important;
    line-height: 3.8rem;
    font-weight: bold;
  }
  .header__title {
    font-size: 11.0rem !important;
    line-height: 9.9rem;
    font-weight: 500;
  }
}

.social-trading {
  height: 2000px;
  .open-note {
    perspective: 1000px;
    perspective-origin: center -400%;
    position: sticky;
    top: 0;
    .open-note-in {
      transform-style: preserve-3d;
      transition: transform .8s;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      transform-origin: bottom;
      transform: rotateX(-4deg);
      .note-top{
        @include center();
      }
    }
  }
  .note-bottom{
    @include center();
  }
  .social-trading-text {
    @include wrap();
    padding: 100px 0 50px;
    font-weight: 500;
    font-size: 3.6rem;
    line-height: 4.3rem;
    color: #707070;
    & > span {
      color: black;
    }
  }
  .social-trading-btn {
    @include center();
    height: 60px;
    width: 200px;
    box-shadow: none;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.1rem;
    background-color: $primary-color !important;
    color: white !important;
  }
}

.profit-title {
  @include wrap();
  color: black;
  font-weight: bold;
  font-size: 7.0rem !important;
  line-height: 8.4rem;
  & > span {
    color: #707070;
  }
}

.investor {
  width: 100%;
  height: 1086px;
  margin: 100px 0 200px;
  background: #EEEEEE;
  position: relative;
  .investor__img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .investor__text {
    position: absolute;
    top: 35%;
    left: 10%;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: #707070;
    & > span {
      font-weight: 500;
    }
  }
}
.percent-profit {
  .percent-profit-img {
    display: block;
    margin: 0 auto;
    border: 3px solid #444444;
    border-radius: 8px;
  }
  .percent-profit-text {
    @include wrap();
    padding: 120px 0 100px;
    font-weight: 500;
    font-size: 3.6rem;
    line-height: 4.3rem;
    color: #707070;
    & > span {
      color: black;
    }
  }
}
